[submodule "aios"]
	path = aios
	url = https://github.com/robertpelloni/aios.git
[submodule "bobmani"]
	path = bobmani
	url = https://github.com/robertpelloni/bobmani.git
[submodule "fwber"]
	path = fwber
	url = https://github.com/robertpelloni/fwber.git
[submodule "borg"]
	path = borg
	url = https://github.com/robertpelloni/borg.git
